.button
    transition: all .15s ease-out
    font-family: inherit;
    font-size: 100%;
    line-height: 100%;

    display: inline-block;

    margin: 0;
    padding: 0.6em 1em;

    text-align: center;
    text-decoration: none

    color: #fff;
    outline: 0;

    &::-moz-focus-inner
    {
        padding: 0;

        border: 0;
    }

    &_theme
        &_normal
            background-color: #c5a981;

        &_border
            border: 2px solid #fff;

            &:hover
                color: #c5a981
                background-color: #fff
