.faq
    margin: 50px;

    &__accordion
        width: 800px
        margin: 0 auto
        text-align: center

    dt, dd
        padding: 10px
        a
            display: block
            color: #fff
            cursor: pointer

            &:hover,
            &.active
                color: #ffaf00;
                text-shadow: 1px 2px 4px #64480c;

    dt
        font-size: 20px
        border-bottom: 3px solid rgba(255,255,255,0.5)
        margin-bottom: 5px

    dd
        margin: 0
        padding: 10px 20px
