.intro
    text-align: center
    padding: 30px;
    color: #fff;
    background: url('/i/intro__bg.png') top left

    &__title
        margin-bottom: 20px !important;
        font-size: 28px

    &__text
        margin: 0 auto;
        max-width: 900px;

    .button
        margin-top: 20px;
