.logo
    border-bottom: 3px solid rgba(255,255,255, 0.5)
    text-decoration: none
    display: block
    padding: 15px 0;

    &__image,
    &__text
        display: inline-block
        vertical-align: middle

    $image_size = 25px // size of logo image

    &__image
        width: $image_size
        height: $image_size
        background: url('/i/logo__image.svg') no-repeat top left
        background-size: $image_size
        margin-right: 10px

    &__text
        font-family: 'Marck Script', cursive !important
        color: #fff;
        font-size: 30px
        font-weight: normal
        margin: 0
