.nav
    margin-top: 10px

    &__link
        font-family: 'Marck Script', cursive !important

        color: #fff;
        text-decoration: none;
        font-size: 20px

    &__item
        line-height: 1
        display: inline-block
        margin-right: 50px;

    &__item_active,
    &__item .nav__link:hover
            border-bottom: 2px solid rgba(255, 255, 255, 0.7)



