.page
    padding: 0;
    margin: 0;
    font: normal 15px 'Roboto Slab', helvetica, arial, serif;
    line-height: 1.7;
    font-weight: 300

    h1, h2, h3, h4, h5, h6
        line-height: 1
        margin: 0
        font-weight: 400
