.page
    background: url('../i/bg.jpg') top left
    background-size: cover
    background-attachment: fixed
    padding: 0
    margin: 0
    font: normal 15px 'Lora', helvetica, arial, serif
    line-height: 1.7
    font-weight: 300
    text-shadow: 1px 1px rgba(0,0,0,0.5)
    color: #fff

// default styles
html, body
    height: 100%
h1, h2, h3, h4, h5, h6
    line-height: 1
    margin: 0 0 0.7em 0
    font-family: 'Lora', helvetica, arial, serif
    font-weight: 700
    text-align: center
    color: #ffaf00;
    text-shadow: 1px 2px 4px #64480c;

h2
    font-size: 50px

h3
    font-size: 35px

h4
    font-size: 25px
