// (Start) Mobile version
.page_mobile
    overflow: hidden;

    .page
        overflow: auto
        -webkit-overflow-scrolling: touch;

    // sections
    .section
        min-height: inherit

        &_view_home
            padding-top: 0

        &_view_sailboat
            padding-bottom: 40px

        &_view_contacts
            padding-top: 0
            padding-bottom: 40px

    .header
        position: inherit

        &__inner
            position: inherit

    .logo
        &__image
            display: none;


    .map
        width: 80%
        margin: 0 auto

    /*.nav*/
        /*padding: 0*/

        /*&__item*/
            /*border-bottom: 0*/
            /*display: block*/
            /*margin-right: 0*/
            /*margin-bottom: 15px*/

        /*&__link:hover*/
            /*text-decoration: underline*/
            /*border: none*/

.page_mobile-opera-11
{
    overflow: auto;
    background: #207CCA;
}
// (Start) Mobile version
