.sailboat
    position: relative

    &__title
        margin-bottom: 30px

    &__details
        font-size: 18px
        
        table
            border-collapse: collapse
            width: 700px
            margin: 0 auto;

            td
                border-bottom: 2px solid rgba(255,255,255, 0.5)

    &__equipment
        margin-top: 20px;
