.sailboat

    &__title
        margin-bottom: 30px

    &__details
        table
            width: 700px
            margin: 0 auto;

            td
                border-bottom: 2px solid rgba(255,255,255, 0.5)

