.section
    min-height: 100%
    /*padding-top: 100px*/
    box-sizing: border-box
    position: relative

    &_view_home
        padding-top: 160px

    &_view_pictures
        height: 1450px

    &_view_sailboat
        padding-top: 120px
        background: url('/i/sailboat.jpg') top left
        background-size: cover

    &_view_services
        padding-top: 120px

    &_view_contacts
        padding-top: 200px

