.contacts
    h2 Контакты
    .contacts__text Остались вопросы?
    .contacts__text Звоните, с радостью ответим на них!
    a(class='contacts__phone' href='tel:+79787057710') +7 (978) 705-77-10
    a(class='contacts__phone' href='tel:+380973477077') +38 (097) 347-70-77
    a(class='contacts__phone' href='tel:+380508429571') +38 (050) 842-95-71





