.contacts
    h2 Контакты
    .contacts__text Остались вопросы?
    .contacts__text Звоните, с радостью ответим на них!
    a(class='contacts__phone' href='tel:380501234567') +38 050 123-45-67
    a(class='contacts__phone' href='tel:78791234567') +7 978 123-45-67
