.faq
    h2(class='faq__title') Вопросы и ответы

    dl(class='faq__accordion')
        dt
            a Есть ли ограничения по возрасту?
        dd Ограничений по возрасту нет, можно брать с собой детей и пожилых людей, способных подняться на борт яхты.
        dt
            a Кто управляет яхтой? Можно будет немного порулить?
        dd Яхтой управляет команда - капитан и матрос. На участках со спокойным движением Вам будет предоставлена возможность немного поуправлять яхтой. Также при желании Вас могут посвятить в азы мореходного дела и управления парусами.
        dt
            a Кто выбирает маршрут прогулки?
        dd Маршрут и продолжительность прогулки - почти всегда индивидуальна и зависит от Ваших предпочтений, с небольшими рекомендациями от капитана.
        dt
            a Как организуется питание?
        dd 3-х разовое питание входит в стомость
        dt
            a Есть ли на яхте туалет, душ?
        dd На яхте есть гостевой туалет, душ, умывальник.
        dt
            a Что с мобильной связью, интернетом?
        dd На борту есть стандартная связь стандарта GSM на расстоянии от берега до 12 миль (20 км). Телефоны стандарта CDMA работают на удалении до 50 миль, т.е. при любой дальности прогулки. Интернета на яхте нет.
        dt
            a Можно ли будет поплавать в море, порыбачить?
        dd График движения Вы выбираете сами. Поэтому можно остановиться в любом месте для купания, рыбалки.
        dt
            a Что, если яхту не выпускают в море из-за штормовой погоды?
        dd В этом случае возможен либо перенос прогулки на другое время, либо возврат предоплаты.
        dt
            a Где происходит посадка и высадка?
        dd Посадка на яхту происходит по адресу: ул. Приморская, 6 или любое другое место по договоренности, где есть возможность безопастно пришвартоваться. Сюда же прибывает яхта по истечении времени аренды, если не оговорено заранее другое место высадки.
