.header
    .logo
        img(class='logo__img', src='i/logo.png')
    .menu
        a(class='menu__item', href='#') О яхте
        a(class='menu__item', href='#') Маршруты
        a(class='menu__item', href='#') Часто задаваемые вопросы
