.home
    .container
        h1(class='home__title') Яхта
            .home__title-name NANULI
        .home__area
            .home__text Для тех, кто хочет отдыхать в Крыму ярко и насыщенно, мы предлагаем прокат яхт.
            .home__text К вашим услугам парусная яхта Nanuli, готовая выйти в море из Севастополя, Балаклавы, Ялты или Алушты.
            .home__text Яхта заберет вас в любой точке побережья Крыма.
            //a(class='button button_theme_border', href='#pictures') Подробнее о яхте

