.intro
    h1(class='intro__title') Яхта 'Nanuli' &mdash; незабываемый отдых на яхте
    p(class='intro__text') Аренда яхты или виллы — это прекрасная возможность отдохнуть по-настоящему индивидуально.
      | Только яхта и вилла, арендованная вами на определенный срок, поможет вам отдыхать в окружении тех, кого вы хотите видеть.
      | Никаких посторонних людей - только вы, море, ваши близкие и друзья

