.intro
    .container
        h1(class='intro__title') Яхта NANULI
        .intro__text Для тех, кто хочет отдыхать в Крыму ярко и насыщенно, мы предлагаем прокат яхт.
        .intro__text К вашим услугам парусная яхта Nanuli, готовая выйти в море из Севастополя, Балаклавы, Ялты или Алушты.
        .intro__text Яхта заберет вас в любой точке побережья Крыма.
        a(class='button button_theme_border', href='#') Подробнее о яхте

