.maps
    .container
        h2 Маршруты
        h4 «Дикий Крым»
        .map__desc Севастополь – Евпатория – м.Тарханкут – Севастополь (4 дня)
        #map-wild.map

        h4 «Жемчужина Крыма»
        .map__desc Севастополь – м.Фиолент – Балаклава – Ласпи – Ласточкино гнездо – Ялта – Партенит – Алушта <br>(4-5 дней)
        #map-pearl.map

        h4 «Древний Крым»
        .map__desc Алушта – Новый Свет – Судак – Кара-Даг – Коктебель (3 дня)
        #map-ancient.map



