ul(class='nav')
        li(class='nav__item')
            a(href='#home' class='nav__link nav__link_view_home') Начало
        li(class='nav__item')
            a(href='#pictures' class='nav__link nav__link_view_pictures') Фотографии
        li(class='nav__item')
            a(href='#sailboat' class='nav__link nav__link_view_sailboat') Яхта
        li(class='nav__item')
            a(href='#services' class='nav__link nav__link_view_services') Услуги
        li(class='nav__item')
            a(href='#maps' class='nav__link nav__link_view_maps') Маршруты
        li(class='nav__item')
            a(href='#faq' class='nav__link nav__link_view_faq') Вопросы и ответы
        li(class='nav__item')
            a(href='#contacts' class='nav__link nav__link_view_contacts') Контакты
