.pictures
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
    a(class='pictures__link')
        img(class='pictures__item')
