.pictures
    img(src="/i/pictures/1-thumb.jpg" alt="Место капитана" title="Место капитана" data-fullsrc="/i/pictures/1.jpg")
    img(src="/i/pictures/2-thumb.jpg" alt="Место капитана" title="Комната отдыха" data-fullsrc="/i/pictures/2.jpg")
    img(src="/i/pictures/3-thumb.jpg" alt="Место капитана" title="Комната отдыха"  data-fullsrc="/i/pictures/3.jpg")
    img(src="/i/pictures/4-thumb.jpg" alt="Место капитана" title="Место капитана"  data-fullsrc="/i/pictures/4.jpg")
    img(src="/i/pictures/5-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/5.jpg")
    img(src="/i/pictures/6-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/6.jpg")
    img(src="/i/pictures/7-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/7.jpg")
    img(src="/i/pictures/8-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/8.jpg")
    img(src="/i/pictures/9-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/9.jpg")
    img(src="/i/pictures/10-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/10.jpg")
    img(src="/i/pictures/11-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/11.jpg")
    img(src="/i/pictures/12-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/12.jpg")
    img(src="/i/pictures/13-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/13.jpg")
    img(src="/i/pictures/14-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/14.jpg")
    img(src="/i/pictures/15-thumb.jpg" alt="Выход с кают наверх" title="Выход с кают наверх"  data-fullsrc="/i/pictures/15.jpg")
