.sailboat
    h2(class='sailboat__title') Яхта
    .sailboat__details
        .container
            table
                tr
                    td Название
                    td NANULI
                tr
                    td Построена
                    td в 2011 году
                tr
                    td Порт-приписка
                    td г.Севастополь
                tr
                    td Флаг
                    td Российский
                tr
                    td Команда
                    td 3 человека
                tr
                    td Длина
                    td 22 метра
                tr
                    td Ширина
                    td 5.80 метров
                tr
                    td Крейсерская скорость
                    td 6-7 уз/ч
                tr
                    td Вместимость без ночевки
                    td 15 человек

            .sailboat__equipment
                h4.sailboat__equipment__title Оборудование яхты
                .sailboat__equipment__text Картплоттер(современное навигационное устройство) GPS, Эхолот, Радар, ЯНЗ-238 двигатель, 2-е мачты площадь парусов 250 м.


