.services
    .container
        h3(class='services__title') Услуги
        ul(class='services__list')
            li(class='services__item')
                img(class='services__picture' src='i/services/services-1.jpg' width='150' height='150')
                .services__desc Xождение под парусом
            li(class='services__item')
                img(class='services__picture' src='i/services/services-2.jpg' width='150' height='150')
                .services__desc Купание в открытом море
            li(class='services__item')
                img(class='services__picture' src='i/services/services-3.jpg' width='150' height='150')
                .services__desc Рыбалка
            li(class='services__item')
                img(class='services__picture' src='i/services/services-4.jpg' width='150' height='150')
                .services__desc Дайвинг
            li(class='services__item')
                img(class='services__picture' src='i/services/services-5.jpg' width='150' height='150')
                .services__desc 3-х разовое питание
            li(class='services__item')
                img(class='services__picture' src='i/services/services-6.jpg' width='150' height='150')
                .services__desc Организация экскурсий на суше во время круиза
            li(class='services__item')
                img(class='services__picture' src='i/services/services-7.jpg' width='150' height='150')
                .services__desc Бронирование отелей для ночлега в городе временной остановки
            li(class='services__item')
                img(class='services__picture' src='i/services/services-8.jpg' width='150' height='150')
                .services__desc При запросе - трансфер отдыхающих до яхты из любой точки Крыма автотранспортом и/или перенаправления яхты до ближайщего порта расположения отдыхающих


        .services__mark

        h3(class='services__title') Удобства и оборудование
        .services__text На борту имеется 5 гостевых кают, рассчитаных на ночлег 8-10 человек, постельное белье и набор полотенец в наличии.
        ul(class='services__list')
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Душ с горячей и холодной водой
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc ТВ (DVD,USB-порт)
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Стиральная машина
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Кондиционер
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Камбуз
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Холодильник
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc СВЧ-печь
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Магнитофон (CD, USB-порт)
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Мангал + набор шампуров
            li(class='services__item')
                img(class='services__picture' src='i/services__yes.svg' width='50' height='50')
                .services__desc Надувная лодка 4х местная


