.intro{text-align:center;padding:30px;color:#fff;background:url("/i/intro__bg.png") top left;}
.intro__title{margin-bottom:20px !important;font-size:28px}
.intro__text{margin:0 auto;max-width:900px}
.intro .button{margin-top:20px}
