.logo{border-bottom:3px solid rgba(255,255,255,0.5);text-decoration:none;display:block;padding:15px 0;}
.logo__image,.logo__text{display:inline-block;vertical-align:middle}
.logo__image{width:25px;height:25px;background:url("/i/logo__image.svg") no-repeat top left;background-size:25px;margin-right:10px}
.logo__text{font-family:'Marck Script',cursive !important;color:#fff;font-size:30px;font-weight:normal;margin:0}
