doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= Nanuli
        //script(src='http://localhost:35729/livereload.js')
        link(href='http://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='css/app.css', type='text/css')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body(class='page')
        include partials/header

        // sections
        section(id='home' class='section_view_home section')
            include partials/home
        section(id='pictures' class='section section_view_pictures')
            include partials/pictures
        section(id='sailboat' class='section section_view_sailboat')
            include partials/sailboat
        section(id='services' class='section section_view_services')
            include partials/services
        section(id='maps' class='section section_view_maps')
            //include partials/maps
        section(id='contacts' class='section section_view_contacts')
            include partials/contacts

        // scripts
        script(src='//yandex.st/jquery/1.11.0/jquery.min.js')
        script(src='js/onePageNav.js')
        script(src='js/galereya.min.js')
        script(src='js/app.js')
