doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= Nanuli
        script(src='http://localhost:35729/livereload.js')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='css/app.css', type='text/css')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body(class='page')
        include partials/header
        include partials/pictures
        include partials/menu
